.form-group
    display flex
    flex-direction column
    justify-content flex-start
    text-align start
    gap 0.25rem

    label
        font-size: 0.75rem
        font-weight: 600
    input
        width: 100%;
        padding: 0.25rem;
        font-size: 1rem;
        border: 1px solid $primary-color
        border-radius 0.25rem