.group-create
    margin-top 10vh
    display flex
    align-items center
    justify-content center

    &__form
        width 70%
        max-width 400px
        padding: 1rem 2rem
        display flex
        flex-direction column
        gap 1rem
        text-align: center

        border solid $primary-color
        border-radius 10px
    
    &__participant
        display flex
        gap: 0.1rem



